title{
    font-size: 38px;
}

body{
    background-color: aqua;
}
h1 {
    font-size: 24px; /* Tamaño del texto para encabezados h1 */
    color: #333; /* Color del texto */
    font-family: Arial, sans-serif; /* Fuente del texto */
  }
.contenedor {
    font-size: 38px;
    text-align: center; /* Centra el contenido del contenedor */
  } 

/* Estilos para la lista */
.mi-lista {
    list-style-type: none; /* Elimina los marcadores predeterminados */
    padding: 0; /* Elimina el relleno predeterminado */
    margin: 0; /* Elimina el margen predeterminado */
    
  }
  
  /* Estilos para los elementos de la lista */
  .mi-lista li {
    margin-bottom: 10px; /* Espacio entre elementos de la lista */
  }
  
  /* Estilos para los enlaces */
  .mi-lista li a {
    text-decoration: none; /* Elimina la subrayado predeterminado */
    color: #333; /* Color del texto */
  }
  
  /* Estilos para los enlaces al pasar el ratón */
  .mi-lista li a:hover {
    color: #007bff; /* Cambia el color del texto al pasar el ratón */
  }
  .mi-lista li {
    text-align: center;
  }

  h1{
    font-size: 48px;
  }